//Variables
//--Colors
$silver:#ccc;
$gray: #7e7e7e;
//--Mobile Dimensions
$mobile-width:300px;
$mobile-height: 615px;
$sensor-width:12px;
$sensor-height: 12px;
$cam-rec-width: 100%;
$cam-rec-height: 22px;
$cam-width: 16px;
$cam-height: 16px;
$rec-width: 110px;
$rec-height: 10px;
$screen-width: 280px;
$screen-height: 450px;
$thumb-btn-width: 43px;
$thumb-btn-height: 43px;
$side-btn-width: 5px;
$ring-silent-btn-height: 40px;
$vol-up-btn-height: 60px;
$vol-down-btn-height: $vol-up-btn-height;
$on-off-btn-height: 60px;