// Variables
//--Mobile Dimensions
$mobile-width: 300px;
$mobile-height:600px;
$rec-width:80px;
$rec-height:8px;
$cam-width:15px;
$cam-height:15px;
$logo-size:100px;
$screen-width:265px;
$screen-height:460px;
$mic-width:12px;
$mic-height:5px;
$side-btn-width:5px;
$on-off-height:35px;
$vol-height:85px;